<% provide(:title, "Palindrome") %>
    <h1 style=" color: blue">Palindrome</h1>
    <p>
      This pages is about Palindromes
    </p>
	<p>Examples#1 : <b><%= @word1 %> </b> </p>
	<p>Palindrome: <b> <%= @label1 %> </b></p>
	<p>Reverse: <b> <%= @strRev1 %> </b></p>
	<p>String Length: <b> <%= @strLen1 %> </b></p>
	<p>Shuffle: <b> <%= @shf1 %> </b></p>
	<br>
	<hr>
	<p>Examples #2 : <b><%= @word2 %> </b> </p>
	<p>Palindrome: <b> <%= @label2 %> </b></p>
	<p>Reverse: <b> <%= @strRev2 %> </b></p>
	<p>String Length: <b> <%= @strLen2 %> </b></p>
	<p>Shuffle: <b> <%= @shf2 %> </b></p>
	<br>
	<br>
	Links: 
	<br>
	<br>
	<a id="btn" href="../static_pages/home">Home</a>