    <%= form_for(@user, url: signup_path) do |f| %>
      

      <%= f.label :name %> <label id="redaster">*</label>
      <%= f.text_field :name, class: 'form-control' , placeholder: 'Enter your name' %>

      <%= f.label :email %> <label id="redaster">*</label>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Example: email@example.com' %>

      <%= f.label :password %> <label id="redaster">*</label>
      <%= f.password_field :password, class: 'form-control' , placeholder: 'Use 6 Characters at least' %>

      <%= f.label :password_confirmation, "Confirmation" %> <label id="redaster">*</label>
      <%= f.password_field :password_confirmation, class: 'form-control' , placeholder: 'Confirm your password' %>

      <%= render 'shared/error_messages' %>
      <%= f.submit "Create my account", class: "btn btn-primary" %>

    <% end %>